DB_HOST=localhost
DB_PORT=5436
DB_USER=postgres
DB_PASS=postgres
DB_NAME=hotels_db

ACCESS_TOKEN_SECRET=Tole5twD26hAHGH9zhyCe6FAYP32YYVkWkAnkGsoVdg=
ACCESS_TOKEN_ALGORITHM='HS256'

# REDIS
REDIS_PASSWORD=admin
REDIS_USER=redis_user
REDIS_USER_PASSWORD=redis_password
REDIS_HOST=localhost
REDIS_PORT=6380