MODE=DEV
LOG_LEVEL=INFO

DB_HOST=hotels_db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=hotels_db

TEST_DB_HOST=hotels_db
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=test_hotels_db

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=hotels_db

ACCESS_TOKEN_SECRET=Tole5twD26hAHGH9zhyCe6FAYP32YYVkWkAnkGsoVdg=
ACCESS_TOKEN_ALGORITHM='HS256'

# REDIS
REDIS_PASSWORD=admin
REDIS_USER=redis_user
REDIS_USER_PASSWORD=redis_password
REDIS_HOST=redis
REDIS_PORT=6379

SMTP_HOST=smtp.yandex.com
SMTP_PORT=465
SMTP_USER=max.kriv0s@yandex.ru
SMTP_PASS=dnjavdmejbwnazwr